<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Rest Api Mock</title>
  <div th:replace="fragments/layout :: css"/>
</head>
<body>

<div th:replace="fragments/layout :: header"/>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Rest Api Mock</h1>
    <p>This is a sample Rest Api Kotlin application deployed to Heroku.</p>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-kotlin" class="alert-link">Getting Started with Kotlin on Heroku</a> tutorial.
  </div>
  <hr />
  <div class="row">
    <div class="col-md-12">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
      <ul>
        <li>Run <code>/status/{statusCode}</code> and replace <code>{statusCode}</code> with the status code you want served.</li>
        <li>Example: <a href="/status/200">/status/200</a></li>
      </ul>
    </div>
  </div> <!-- row -->
</div>

<div th:replace="fragments/layout :: footer"/>

</body>
</html>
